@model IEnumerable<PizzaPLace.DataAccess.Orders>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderTime)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Price)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.OrderTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderTime)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.OrderTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Users.FirstName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.OrderId">Edit & See Details</a> |
                @*<a asp-action="Details" asp-route-id="@item.OrderId">Details</a> |*@
                @*<a asp-action="Delete" asp-route-id="@item.OrderId">Delete</a>*@
            </td>
        </tr>
}
    </tbody>
</table>
