@model PizzaPlace.WebApp.Models.ViewModel

@{
    ViewData["Title"] = "PlaceOrder";
}
<style>

    button {
        margin-top: 5px;
        margin-bottom: 5px;
        display: inline-block;
        display: inline;
        zoom: 1;
        vertical-align: middle;
        margin-left: 20px
    }

    h3{
        color: red;
    }
    

    h4 {
        display: inline-block;
        display: inline;
        zoom: 1;
        float: left;
        padding-top: 5px;
        text-align: left;
        width: 350px;
    }

    input[type=text], select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    input[type=submit] {
        width: 100%;
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

        input[type=submit]:hover {
            background-color: #45a049;
        }


</style>

<h2>Add Pizzas to your order</h2>

@*<h2>@TempData.Peek("userid")</h2>
<h2>@TempData.Peek("firstname")</h2>
<h2>@TempData.Peek("lastname")</h2>
<h2>@TempData.Peek("phone")</h2>
<h1> esto es: </h1>
<h1> @ViewData["result"]</h1>*@
<h3> @ViewData["msg"]</h3>


<form asp-action="PlaceOrder" method="post">
    <h3>Select a Pizza</h3>
    <div class="form-group">

        @Html.DropDownListFor(x => x.SelectedPizza, new List<SelectListItem>
        {
              new SelectListItem() {Text = "Cheese Pizza", Value="Cheese"},
              new SelectListItem() {Text = "Pepperoni Pizza", Value="Pepperoni"},
              new SelectListItem() {Text = "Sausage Pizza", Value="Sausage"},


        })
    </div>
    <h3>Select a Size</h3>
    <div class="form-group">
        @Html.DropDownListFor(x => x.SelectedSize, new List<SelectListItem>
        {
              new SelectListItem() {Text = "Small   $6.00", Value = "S"},
              new SelectListItem() {Text = "Medium  $8.00", Value = "M"},
              new SelectListItem() {Text = "Large   $12.00", Value = "L"},

        } )

    </div>
    <h3>Select a Sauce</h3>
    <div class="form-group">
        @Html.DropDownListFor(x => x.SelectedSauce, new List<SelectListItem>
            {
            new SelectListItem() {Text = "BBQ Sauce", Value = "BBQ Sauce"},
            new SelectListItem() {Text = "Marinara Sauce", Value = "Marinara Sauce"},
            new SelectListItem() {Text = "Alfredo Sauce", Value = "Alfredo Sauce"},

            })

    </div>
    <h3>Select a Crust</h3>
    <div class="form-group">
        @Html.DropDownListFor(x => x.SelectedCrust, new List<SelectListItem>
        {
              new SelectListItem() {Text = "Deep Crust", Value = "1"},
              new SelectListItem() {Text = "Cheese Stuffed Crust", Value = "2"},
              new SelectListItem() {Text = "Thin Crust", Value = "3"},
              new SelectListItem() {Text = "Original Crust", Value = "4"},

        })




    </div>

    <div class="form-group">
        <input type="submit" value="Add Pizza to order" class="btn btn-default" />
    </div>
</form>

@{
    int pizzaNum = int.Parse(TempData.Peek("Count").ToString());
    if (pizzaNum > 1)
    {

        <form asp-action="Details">
            <div class="form-group">
                <input type="submit" value="Place the Order" class="btn btn-default" />
            </div>
        </form>
    }
}






